#!KAMAILIO

####### Global Parameters #########

mpath="/usr/local/lib64/kamailio/modules/"

log_facility=LOG_LOCAL0
children=4

port=4060
listen=udp:172.20.0.6:4060
listen=tcp:172.20.0.6:4060

####### Modules Section ########

loadmodule "tm.so"
loadmodule "tmx.so"
loadmodule "sl.so"
loadmodule "rr.so"
loadmodule "pv.so"
loadmodule "maxfwd.so"
loadmodule "textops.so"
loadmodule "siputils.so"
loadmodule "xlog.so"
loadmodule "sanity.so"
loadmodule "ctl.so"
loadmodule "cfg_rpc.so"
loadmodule "ims_usrloc_pcscf.so"
loadmodule "ims_ipsec_pcscf.so"
loadmodule "ims_registrar_pcscf.so"

####### Module Parameters ########

modparam("tm", "failure_reply_mode", 3)
modparam("tm", "fr_timer", 30000)
modparam("tm", "fr_inv_timer", 120000)

modparam("ims_usrloc_pcscf", "db_mode", 0)

modparam("ims_registrar_pcscf", "pcscf_uri", "sip:172.20.0.6:4060")

####### Routing Logic ########

request_route {
    if (!mf_process_maxfwd_header(10)) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    if (!sanity_check("1511", "7")) {
        xlog("Malformed SIP request from $si:$sp\n");
        exit;
    }

    if (is_method("REGISTER")) {
        route(REGISTER);
        exit;
    }

    if (is_method("CANCEL")) {
        if (t_check_trans()) t_relay();
        exit;
    }

    if (!is_method("ACK")) {
        if (t_precheck_trans()) {
            t_check_trans();
            exit;
        }
        t_check_trans();
    }

    if (loose_route()) {
        route(RELAY);
        exit;
    }

    route(RELAY);
}

route[REGISTER] {
    xlog("L_INFO", "P-CSCF: REGISTER from $fu — forwarding to I-CSCF\n");
    # reenviar al I-CSCF
    $du = "sip:172.20.0.6:5060";
    route(RELAY);
}

route[RELAY] {
    if (!t_relay()) {
        sl_reply_error();
    }
    exit;
}
